* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.red {
    background: #ff1a1a;
    grid-column: 1 / 3;
}

.green {
    background: green;
    grid-column: 3 / 4;
}

.orange {
    background: #ff4500;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.purple {
    background: purple;
    grid-column: 1 / 2;
}

.pink {
    background: #ff1493;
    grid-column: 2 / 3;
}

.blue {
    background: blue;
    grid-column: 3 / 4;
}

.brown {
    background: brown;
    grid-column: 1 / 2;
}

.dark-purple {
    background: indigo;
    grid-column: 2 / 4;
}
