* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.main-container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
}

.quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
}

.red-bg    { background-color: #ff0000; top: 0; left: 0; }
.green-bg  { background-color: #008000; top: 0; left: 50%; }
.orange-bg { background-color: #ffa500; top: 50%; left: 0; }
.pink-bg   { background-color: #ff00ff; top: 50%; left: 50%; }

.white-circle {
    position: absolute;
    background-color: #fff;
    border-radius: 50%; 
    width: 14vw;
    height: 14vw;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-square {
    width: 35%; 
    height: 35%;
    background-color: red;
}

.inner-dot {
    width: 50%;
    height: 50%;
    background-color: red;
    border-radius: 50%; 
}

.q1 { top: 25%; left: 25%; }
.q2 { top: 25%; left: 75%; }
.q3 { top: 75%; left: 25%; }
.q4 { top: 75%; left: 75%; }

.corner { width: 10vw; height: 10vw; }
.top-left     { top: 0; left: 0; }
.top-right    { top: 0; left: 100%; }
.bottom-left  { top: 100%; left: 0; }
.bottom-right { top: 100%; left: 100%; }
.top-mid      { top: 0; left: 50%; }
.bottom-mid   { top: 100%; left: 50%; }

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12vw;
    height: 12vw;
    background-color: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
}